################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/.vs/andriodVScodePro/v16/ipch/AutoPCH/f2a3f8cae1e7f1b7/MAIN.ipch
*.db
/.vs/andriodVScodePro/v16/Browse.VC.opendb
*.json
数据结构和算法/链表/doublelist
